 .video-title{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 26px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .video-states{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 0;
  }
  .checkmark{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
  }
  .talking-paragraph{
    font-family: Arial;
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
    width: 280px;
    line-height: 20px;
  }
  .shop-now{
    background-color: rgb(227, 65, 64);
    font-family: Arial;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 5px;
    color: white;

  }
  .click-this:hover{
    text-decoration: underline;

  }
  .click-this{
    cursor: pointer;
  }
 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.1px;
  height: 25px;
  width: 40px;
  margin-bottom: 0px;
  border: none;
}
.apple-image{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  height: 25px;
  width: 25px;
  margin-bottom: 0px;
  margin-top: 100px;
  border: none;
}
